<div class="basis-module" >
  <div class="page-header">
    <h1>供应商</h1>
  </div>
  <div class="filter clearfix">
    <div class="row">
      <div class="col-sm-9">
        <form class="form-inline">
          <span cs-estate-linkage group="developer_id" region="area_id" project="project_id" account="publics_id"></span>
          <div class="form-group mb10 mr10">
            <label class="control-label text-normal text-nowrap">启用状态：</label>
            <select class="form-control" ng-model="status">
              <option value="">全部</option>
              <option value="1">启用</option>
              <option value="0">停用</option>
            </select>
          </div>
          <div class="form-group mb10 mr10">
        	<label class="control-label text-normal text-nowrap">供应商ID：</label>
        	<input class="form-control" size="16" type="text"
            ng-model="provider_id" />
      	  </div>
           <div class="form-group mb10 mr10">
          <label class="control-label text-normal text-nowrap">供应商名称：</label>
          <input class="form-control" size="16" type="text"
            ng-model="provider_name" />
          </div>
          <div class="form-group submit-group mb10 mr10 text-right">
            <button type="submit" class="btn btn-primary" ng-click="query()">
             <i class="fa fa-search"></i> 搜索
            </button>
          </div>
        </form>
      </div>

      <div class="col-sm-3 text-right">
        <a class="btn btn-success" ng-click="create()"><i class="fa fa-plus"></i> 添加</a>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
      	<th>编号</th>
        <th>名称</th>
        <th>联系人</th>  
        <th>更新人</th>
        <th>更新时间</th>
        <th>状态</th>
        <th class="text-right">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="!list">
        <td class="loading-holder" colspan="40">
          <div class="text-center"><span class="loading"></span></div>
        </td>
      </tr>
      <tr ng-if="total === 0">
        <td colspan="40">
          <div class="text-center">抱歉，没有相关数据</div>
        </td>
      </tr>
      <tr ng-repeat="item in list" ng-hide="item.$hide">
        <!-- <a href="" ng-click="getHistory(item)"></a> -->
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.contact}}</td>
        <td>{{ item.updateBy }}</td>
        <td>{{ item.updateAt|date:'yyyy-MM-dd HH:mm' }}</td>
        <td ng-class="{'text-danger': item.status === 0}">{{ item.status|status }}</td>
        <td class="text-right">
          <a href="" ng-click="toggle(item)" ng-if="!item.processing">{{ item.status|status:true }}</a>
          <span class="loading-sm" ng-if="item.processing"></span>
          <i class="text-divider">|</i>
          <a href="" ng-click="update(item)" ng-if="!item.updating">修改</a>
          <span class="loading-sm" ng-if="item.updating"></span>
          <!--
          <i class="text-divider">|</i>
          <a href="" ng-click="remove(item)" ng-if="!item.deleting">删除</a>
          <span class="loading-sm" ng-if="item.deleting"></span>
          -->
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-right" ng-show="!(list|empty)">
    <ul class="pagination-sm" pagination ng-model="page" items-per-page="size" total-items="total" ng-change="query()"></ul>
  </div>
</div>